---
layout: default
---
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
            {% if site.data.intro %}
            <h3 class="title with-icon">
                <span class="cat-title fa fa-vcard"></span>
                Profile
            </h3>
            <div class="grid-block profile">
                <p>{{ site.data.intro.text | markdownify }}</p>
            </div>
            {% endif %}
            {% if site.data.projects %}
            <h3 class="title with-icon">
                <span class="cat-title fa fa-heart"></span>
                Side Projects
            </h3>
            {% endif %}
            {% if site.data.work %}
                <h3 class="title with-icon">
                    <span class="cat-title fa fa-suitcase"></span>
                    Work Experience
                </h3>
                <ul class="timeline">
                    {% for work in site.data.work %}
                        <li class="timeline-inverted">
                            {% if work.started %}
                                <div class="timeline-badge info">{{ work.started }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if work.title %}
                                        <h4 class="timeline-title">{{ work.title }} </h4>
                                    {% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if work.company %}
                                                {{ work.company }}
                                            {% endif %}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="text-muted">
                                            {% if work.duration %}
                                                <i class="fa fa-calendar"></i> {{ work.duration }} |
                                            {% endif %}
                                            {% if work.location %}
                                                <i class="fa fa-map-marker"></i>  {{ work.location }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    {% if work.description %}
                                        <p>{{ work.description }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if site.data.education %}
                <h3 class="title with-icon">
                    <span class="cat-title fa fa-book"></span>
                    Education
                </h3>
                <ul class="timeline">
                    {% for education in site.data.education %}
                        <li class="timeline-inverted">
                            {% if education.started %}
                                <div class="timeline-badge info">{{ education.started }}</div>
                            {% endif %}
                            <div class="timeline-panel grid-block">
                                <div class="timeline-heading">
                                    {% if education.organization %}
                                        <h4 class="timeline-title">{{ education.organization }}</h4>
                                    {% endif %}
                                    <p>
                                        <small class="text-muted">
                                            {% if education.degree %}
                                                {{ education.degree }}
                                            {% endif %}
                                            {% if education.major %}
                                                , {{ education.major }}
                                            {% endif %}
                                        </small>
                                    </p>
                                    <p>
                                        <small class="text-muted">
                                            {% if education.duration %}
                                                <i class="fa fa-calendar"></i> {{ education.duration }}
                                            {% endif %}
                                            {% if education.duration and education.location %}
                                             |
                                            {% endif %}
                                            {% if education.location %}
                                                <i class="fa fa-map-marker"></i>  {{ education.location }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    {% if education.description %}
                                        <p>{{ education.description }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% include sidepane.html %}
        </div>
    </div>
</div>
