<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>
        As a solution architect for connected services on the <a href="http://bosch-iot-cloud.com" target="_blank">Bosch IoT Cloud</a> I apply my experiences in software development to make driving safer and more comfortable by leveraging the potential of connected vehicles.
        Working with latest technologies like <a href="https://www.cloudfoundry.org/" target="_blank">Cloudfoundry</a>, <a href="https://www.docker.com/" target="_blank">Docker</a>, <a href="https://gitlab.com" target="_blank">Gitlab</a>, <a href="https://nodejs.org" target="_blank">nodeJS</a> allowed me to broaden my skills from ISO conform software development, prototyping and framework development to latest tech, agile development and designing microservice oriented architectures. I like to think of myself as a versatile developer that is capable of quickly understanding and adapting to new concepts and technologies.
    </p>
    <p>
        In my free time I take part in the Stuttgart area meetup scene and learn about new technologies like blockchain and machine learning. I have always enjoyed building small side projects but only lately started publishing them openly on <a href="https://github.com/anoff" target="_blank">github</a>. These private projects allow me to bring new ideas into my professional projects as well.
    </p>
</div><!--//summary-->
</section><!--//section-->
