<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Solution Architect</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Robert Bosch GmbH, Stuttgart Germany</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Designing and developing cloud solutions</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
