<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Solution Architect</h3>
                <div class="time">2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Robert Bosch GmbH, Stuttgart Germany</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                I am currently responsible for backend architecture and development of connected vehicle services. This includes designing microservices according to domain driven principles as well as implementing features in our SCRUM team.
            </p>
            <span class="skills">Trained skills</span>
            <p>
                microservice architecture, nodeJS, Python, OSS compliance, agile software development
            </p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Backend developer connected vehicle</h3>
                <div class="time">2014 - 2016</div>
            </div><!--//upper-row-->
            <div class="company">Robert Bosch GmbH, Stuttgart Germany</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Starting 2014 I was responsible for designing and developing a prototype system for a connected vehicle. It was a fullstack job where I was resonsible to manage a team of up to five to set up servers, develop backend &amp; frontend as well as the vehicle communication.
                In 2015 the project left prototype state and a larger team was built up to develop the system with a more mature state. I was involved in selecting the team members and defining the development processes.
            </p>
            <span class="skills">Trained skills</span>
            <p>
                nodeJS, Javascript, agile software development, AngularJS
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Function developer for driver monitoring</h3>
                <div class="time">2012 - 2014</div>
            </div><!--//upper-row-->
            <div class="company">Robert Bosch GmbH, Stuttgart Germany</div>
        </div><!--//meta-->
        <div class="details">
            <p>Following my experiences as a test manager I switched sides and started developing algorithms for driver monitoring. This involved handling of larger data sets within Matlab and building a simulation environment capable of handling multiple thousands KM of test data to evaluate algorithm performance. With changing algorithms it was also necessary to develop new scoring functions. Development of series code was done according to <a href="http://vda-qmc.de/en/certification/automotive-spice/" target="_blank">automotive SPICE</a> requirements. In 2013 I was also leading a 8 month project study with a german automotive OEM to identify the potential of new driver monitoring functions.
            </p>
            <span class="skills">Trained skills</span>
            <p>
                statistics, requirements engineering, Matlab, project management, ASPICE, data handling
            </p>
        </div><!--//details-->
    </div><!--//item-->


    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Test manager for driver monitoring software</h3>
                <div class="time">2010 - 2012</div>
            </div><!--//upper-row-->
            <div class="company">Robert Bosch GmbH, Stuttgart Germany</div>
        </div><!--//meta-->
        <div class="details">
            <p>Responsible for planning automotive software tests from unit to system level.
                On system level I was also responsible for designing and implementing the test environment for hardware in the loop simulation of a automotive ECU.
                This had to be integrated into existing quality frameworks and comply with functional safety according to ISO26262.
            </p>
            <span class="skills">Trained skills</span>
            <p>
                system understanding, project management, vehicle communication (CAN/FlexRay), testing methods, CANoe, VBA
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Internship - motorcycle hydraulic simulation</h3>
                <div class="time">2009</div>
            </div><!--//upper-row-->
            <div class="company">Bosch Corporation, Yokohama Japan</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                As part of my studies I accomplished a six months internship in Japan. My task was to create a simulation environment for motorcycle ABS systems. I had to collect requirements from different engineers, research motorcycle hydraulics and then develop a simulation with a user interface. The development was done in Matlab &amp; Matlab Simulink.
            </p>
            <span class="skills">Trained skills</span>
            <p>
                Matlab, system understanding, fluid physics, GUI design
            </p>
        </div><!--//details-->
    </div><!--//item-->
</section><!--//section-->
