<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Solution Architect</h3>
                <div class="time">2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Robert Bosch GmbH, Stuttgart Germany</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Designing and developing cloud solutions
            </p>
            <span class="skills">Trained skills</span>
            <p>
                microservice architecture, nodeJS, Python, OSS compliance
            </p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Backend developer connected vehicle</h3>
                <div class="time">2014 - 2016</div>
            </div><!--//upper-row-->
            <div class="company">Robert Bosch GmbH, Stuttgart Germany</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Starting 2014 I was responsible for designing and developing a prototype system for a connected vehicle. It was a fullstack job where I was resonsible to manage a team of up to five to set up servers, develop backend &amp; frontend as well as the vehicle communication.
                In 2015 the project left prototype state and a larger team was built up to develop the system with a more mature state. I was involved in selecting the team members and defining the development processes.
            </p>
            <span class="skills">Trained skills</span>
            <p>
                nodeJS, Javascript, agile software development, AngularJS
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software developer for driver monitoring</h3>
                <div class="time">2012 - 2014</div>
            </div><!--//upper-row-->
            <div class="company">Robert Bosch GmbH, Stuttgart Germany</div>
        </div><!--//meta-->
        <div class="details">
            <p>I was also leading a 8 month project with a german automotive OEM on new driver monitoring functions.
            </p>
            <span class="skills">Trained skills</span>
            <p>
                statistics, requirements engineering, Matlab, project management
            </p>
        </div><!--//details-->
    </div><!--//item-->


    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Test manager for driver monitoring software</h3>
                <div class="time">2010 - 2012</div>
            </div><!--//upper-row-->
            <div class="company">Robert Bosch GmbH, Stuttgart Germany</div>
        </div><!--//meta-->
        <div class="details">
            <p>Responsible for planning automotive software tests from unit to system level.
                On system level I was also responsible for designing and implementing the test environment for hardware in the loop simulation of a automotive ECU.
            </p>
            <span class="skills">Trained skills</span>
            <p>
                system understanding, project management, vehicle communication (CAN/FlexRay), testing methods, CANoe, VBA
            </p>
        </div><!--//details-->
    </div><!--//item-->
</section><!--//section-->
