<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>Some side projects and OSS stuff</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/anoff/robby5" target="_blank">#robby5</a></span> - <span class="project-tagline">cheap hackable robot car ecosystem</span>

    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="https://github.com/anoff/remote-code" target="_blank">remote-code</a></span> - 
        <span class="project-tagline">live-reload for ssh connected devices</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title">private document mgmt system</span> - 
        <span class="project-tagline">scan, OCR and store it indexed in a database</span>
    </div><!--//item-->
</section><!--//section-->
