{% if site.data.skills.programming %}
  <h3 class="title with-icon"><span class="fa fa-code cat-title"></span> Software Craftsmanship</h3>
  <div class="grid-block">
      <ul class="list-unstyled list-skills">
          {% for programmingSkill in site.data.skills.programming %}
              <li>
                <span class="caption-skill">{{ programmingSkill.name }}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: {{ programmingSkill.percentage }}">
                        <span class="tip">{{ programmingSkill.percentage }} </span>
                    </div>
                </div>
              </li>
          {% endfor %}
      </ul>
  </div>
{% endif %}

{% if site.data.skills.languages %}
  <div class="deviter"></div>
  <h3 class="title with-icon"><span class="cat-title"><i class="fa fa-globe fa-spin"></i></span> Language Skills</h3>
  <div class="grid-block">
      <ul class="list-unstyled list-strip">
          {% for language in site.data.skills.languages %}
              {% if language.name and language.proficiency %}
                  <li>
                      <i class="fa fa-check"></i> <span class="badge badge-right-float">{{ language.proficiency }}</span>{{ language.name }}
                  </li>
              {% endif %}
          {% endfor %}
      </ul>
  </div>
{% endif %}


{% if site.data.skills.domains %}
  <div class="deviter"></div>
  <h3 class="title with-icon"><span class="fa fa-cogs cat-title"></span>Domain knowledge</h3>
  <div class="grid-block">
      <ul class="list-unstyled list-progress" >
          {% for domain in site.data.skills.domains %}
            <li>
                <div class="progress-bar" style="width: {{ domain.percentage }}">
                    {% if domain.fa %}
                        <i class="fa fa-{{ domain.fa }}"></i>
                    {% endif %}
                    {{ domain.name }}
                </div>
            </li>
          {% endfor %}
      </ul>
  </div>
{% endif %}
<div class="deviter"></div>
<h3 class="title with-icon"><span class="fa fa-location-arrow cat-title"></span> Location</h3>
<div class="grid-block">
  <iframe src="https://www.google.com/maps/embed/v1/place?q={{ site.author.address }}&key=AIzaSyD1-M_DqupW0rZs6XqZAB0nJ_7ItZ_8B8w&zoom=4" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
</div>
