<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
    <h3 class="section-title">Coding</h3>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Javascript</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">nodeJS</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Matlab</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Python</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="40%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">bash</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="30%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
        <div class="item">
            <h3 class="level-title">Microcontroller C</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
    </div>

    <h3 class="section-title">Software Craftsmanship</h3>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">Software Quality</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="95%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
        
        <div class="item">
            <h3 class="level-title">Agile methods</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Continous Deployment</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="80%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->

        <div class="item">
            <h3 class="level-title">Project management</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="60%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
    </div>

    <h3 class="section-title">System understanding</h3>
    <div class="skillset">
        <div class="item">
            <h3 class="level-title">IoT solution architecture</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="90%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
        <div class="item">
            <h3 class="level-title">Vehicle communication (CAN, FlexRay)</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="70%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
        <div class="item">
            <h3 class="level-title">Blockchain technology</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="40%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
        <div class="item">
            <h3 class="level-title">Artifical Intelligence / Machine Learning</h3>
            <div class="level-bar">
                <div class="level-bar-inner" data-level="20%"></div>
            </div><!--//level-bar-->
        </div><!--//item-->
    </div><!-- skillset -->
</section><!--//skills-section-->
