<div class="article-wrapper u-cf">
  <a class="bubble" href="/#about"><i class="fa fa-fw fa-user-circle"></i></a>
  <article class="default article">
    <a id="about"></a>
    <div class="content">
      <h3>About me</h3>
      <p>As a solution architect for connected services I apply my experience in software development to make driving safer and more comfortable by leveraging the potential of connected vehicles. Working with technologies like Docker, GitLab, Azure Cloud, Node.js and implementing Infrastructure as Code, DDD and test driven principles allows me to keep learning constantly - which is a huge motivation for me. Besides creating solution architecture and implementing I am also deeply invested in the way our team works together and how we bring business needs into implemented solutions.
      </p><p>
      In my free time I take part in the Stuttgart area meetup scene and learn about new technologies like blockchain and machine learning. I have also enjoy building small side projects and collaborate on GitHub. These private projects allow me to test out new concepts and bring them into my professional projects at some point. You can read about some of my projects on the <a href="/project/">projects category</a>.
      </p>
    </div>
  </article>
</div>
<div class="article-wrapper u-cf">
  <a class="bubble" href="/#resume"><i class="fa fa-fw fa-file"></i></a>
  <article class="default article">
      <a id="resume"></a>
    <div class="content">
      <h3>Resume</h3>
      <p>
      For a more complete picture of my experiences feel free to take a look at my curriculum vitae. It is not dated but git versioned with a little green number in the top right.
      </p>
      <a href="/cv/cv-anoff.pdf" target="_blank"><b>Download</b></a>
      <a class="inline-bubble" href="/cv/cv-anoff.pdf" target="_blank"><i class="fa fa-fw fa-download"></i></a>
    </div>
  </article>
</div>